{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'aitrader/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'aitrader/style_index.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A-share Stock AI Trader</title>
</head>
<body>
{% include 'aitrader/navbar.html' %}

<div style="text-align:center;">
    <div style="text-align:center;">
        <script>
            if (typeof (stockdio_events) == "undefined") {
                stockdio_events = true;
                var stockdio_eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
                var stockdio_eventer = window[stockdio_eventMethod];
                var stockdio_messageEvent = stockdio_eventMethod == "attachEvent" ? "onmessage" : "message";
                stockdio_eventer(stockdio_messageEvent, function (e) {
                    if (typeof (e.data) != "undefined" && typeof (e.data.method) != "undefined") {
                        eval(e.data.method);
                    }
                }, false);
            }
        </script>
        <iframe id='st_2eb6c67c1f1a413e983a700b1300afc4' frameBorder='0' scrolling='no' width='100%' height='100%'
                src='https://api.stockdio.com/visualization/financial/charts/v1/Ticker?app-key=0B8B0D0F9CBE4449B419D2E9F0C3AA18&stockExchange=SSE&symbols=600519;601398;601857;601939;601628;601988&palette=High-Contrast&backgroundColor=1f2739&onload=st_2eb6c67c1f1a413e983a700b1300afc4'></iframe>
    </div>

    <h1>A-share Stock AI Trader</h1>
    <a href="/aitrader/select_stock/" class="myButton">Begin!</a>
</div>

<br>
<br>

<div style="text-align:center;">
    <table style="margin-left: auto; margin-right: auto;">
        <tr style="text-align:center; color:#FB667A;">
            <td>Shanghai Stock Exchange (SSE)</td>
            <td>Shenzhen Stock Exchange (SZSE)</td>
        </tr>
        <tr>
            <td>
                <script>
                    if (typeof (stockdio_events) == "undefined") {
                        stockdio_events = true;
                        var stockdio_eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
                        var stockdio_eventer = window[stockdio_eventMethod];
                        var stockdio_messageEvent = stockdio_eventMethod == "attachEvent" ? "onmessage" : "message";
                        stockdio_eventer(stockdio_messageEvent, function (e) {
                            if (typeof (e.data) != "undefined" && typeof (e.data.method) != "undefined") {
                                eval(e.data.method);
                            }
                        }, false);
                    }
                </script>
                <iframe id='st_2a540190234c4cb58116665924dd5f8f' frameBorder='0' scrolling='no' width='400'
                        height='100%'
                        src='https://api.stockdio.com/visualization/financial/charts/v1/MarketOverviewChart?app-key=0B8B0D0F9CBE4449B419D2E9F0C3AA18&stockExchange=SSE&indices=SSE&dividends=true&splits=true&palette=High-Contrast&showLogo=Title&backgroundColor=1f2739&title=Market%20Overview&onload=st_2a540190234c4cb58116665924dd5f8f'></iframe>
            </td>
            <td>
                <script>
                    if (typeof (stockdio_events) == "undefined") {
                        stockdio_events = true;
                        var stockdio_eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
                        var stockdio_eventer = window[stockdio_eventMethod];
                        var stockdio_messageEvent = stockdio_eventMethod == "attachEvent" ? "onmessage" : "message";
                        stockdio_eventer(stockdio_messageEvent, function (e) {
                            if (typeof (e.data) != "undefined" && typeof (e.data.method) != "undefined") {
                                eval(e.data.method);
                            }
                        }, false);
                    }
                </script>
                <iframe id='st_fbb0896fd97944f4979763e6297cfffc' frameBorder='0' scrolling='no' width='400'
                        height='100%'
                        src='https://api.stockdio.com/visualization/financial/charts/v1/MarketOverviewChart?app-key=0B8B0D0F9CBE4449B419D2E9F0C3AA18&stockExchange=SZSE&indices=SZSE&dividends=true&splits=true&palette=High-Contrast&showLogo=Title&backgroundColor=1f2739&title=Market%20Overview&onload=st_fbb0896fd97944f4979763e6297cfffc'></iframe>
            </td>
        </tr>
    </table>


    <br>
    <br>


</div>

</body>
</html>