{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'aitrader/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'aitrader/style_select_stock.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trading</title>
</head>
<body>
{% include 'aitrader/navbar.html' %}

<h1><span class="blue">&lt;</span>Stock List<span class="blue">&gt;</span>
    <img src="../../static/files/trade.svg" style="width:40px;height:40px;"/>
    <span class="yellow">Trading</span></h1>

<table class="container">
    <thead>
    <tr>
        <th><h1>Stock Symbol</h1></th>
        <th><h1>Company</h1></th>
        <th><h1>LSTM</h1></th>
        <th><h1>SVM</h1></th>
        <th><h1>ARIMA</h1></th>
        <th><h1>Integration</h1></th>
        <th><h1>Last Update</h1></th>
    </tr>
    </thead>
    <tbody>
    {% for tickerObj in sticker_obj_list %}
        <tr>
            <td>{{ tickerObj.ticker }}</td>
            <td>{{ tickerObj.longName }}</td>
            <td style="text-align:center;"><a href="/aitrader/trade_stock_lstm/{{ tickerObj.ticker }}/"
                                              style="color:#FB667A;">LSTM</a></td>
            <td style="text-align:center;"><a href="/aitrader/trade_stock_svm/{{ tickerObj.ticker }}/"
                                              style="color:#FB667A;">SVM</a></td>
            <td style="text-align:center;"><a href="/aitrader/trade_stock_arima/{{ tickerObj.ticker }}/"
                                              style="color:#FB667A;">ARIMA</a></td>
            <td style="text-align:center;"><a href="/aitrader/trade_stock_integration/{{ tickerObj.ticker }}/"
                                              style="color:#FB667A;">Integration</a></td>
            <td>{{ tickerObj.latest_date }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>
