{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'aitrader/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'aitrader/style_trade_run_svm.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trade Run</title>
</head>
<body>
{% include 'aitrader/navbar.html' %}

<h1><span class="blue">&lt;</span>SVM Trading<span class="blue">&gt;</span> <span class="yellow">{{ longName }}</span>
</h1>
<h2>{{ stock_id }}</h2>

<div style="text-align:center;">
    <h1>Trading Strategy</h1>

    <table class="container">
        <thead>
        <tr>
            <th><h1>Number of Day</h1></th>
            <th><h1>Operation</h1></th>
            <th><h1>Date</h1></th>
        </tr>
        </thead>
        <tbody style="text-align: center;">
        {% for key, value in date_operations_dict.items %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td style="color: #FB667A;">{{ value }}</td>
                <td>{{ key }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h1>Stock Price Prediction</h1>

    {% load static %}
    {% for figure in figure_list %}
        <p>
            <img src="{% static '/' %}svm/{{ stock_id_number_only }}/figure/{{ figure }}" alt="My image">
        </p>
    {% endfor %}
</div>
</body>
</html>
